<fieldset>
	<legend><%= @employer.company %> - <%= @employer.city %>, <%= @employer.state %></legend>
	<label>Email:</label>
	<div class="field"><%= mail_to @employer.user_email, @employer.user_email %></div>
	<label>Description:</label>
	<div class="field"><%= sanitized(@employer.description) %><div>
	<br>
	<div class="btn-group">
		<% if referrer('action') == 'show' %>
			<%= link_to 'Return to opening', 'javascript:history.back()', :class => "btn btn-inverse" %>
		<% end %>
		<% (session[:last_search] ? back = session[:last_search] : back = openings_path) %>
		<%= link_to 'Return to listing', back, :class => 'btn' %>
		<% if current_role(Member) %>
			<%= render '/shared/set_fs_button_group', :obj => @employer, :sel => @selected_favoriteds %>
		<% end %>
	</div>
</fieldset>