<div class="btn-group">
	<%= link_to 'Return to listing', employers_path, :class => 'btn btn-info' %>
</div>
<fieldset>
	<legend><%= @employer.company || "Incomplete profile" %></legend>
	<h4>Location:</h4>
	<div class="field"><%= @employer.city %>, <%= @employer.state %></div>
	<h4>Email:</h4>
	<div class="field"><%= mail_to @employer.user_email, @employer.user_email %></div>

	<h4>Description:</h4>
	<div class="field"><%= sanitized(@employer.description) %><div>
	<br>
	<h4 class="center" id="openings-header">OPENINGS</h4>
	<% if @openings.count > 0 %>
		<%= hidden_field_tag "dLength", "#{@show_entries}" %>
		<table class="datatables" id="dt-openings">
	    <thead>
	      <tr>
	        <th></th>
	        <th>ID</th>
	        <th>Active?</th>
	        <th>Position</th>
	        <th>Date Open</th>
	        <th>Date Closed</th>
	      </tr>
	    </thead>
	    <tbody>
	      <% @openings.each do |opening| %>
	        <tr>
	          <td>

	          	<%= set_opening_actions_button_group(opening) %>

	          </td>
	          <td><%= opening.id %></td>
	          <td><%= opening.active ? 'Yes' : "<span class='red'>No</span>".html_safe %></td>
	          <td><%= truncate(opening.position, length: 50) %> - <%= opening.city %>, <%= opening.state %></td>
	        	<td><%= display_open_date(opening) %></td>
	          <td><%= display_closed_date(opening) %></td>
	        </tr>
	      <% end %>
	    </tbody>
			<tfoot>
	      <tr>
	        <th></th>
	        <th>ID filter</th>
	        <th>Active filter</th>
	        <th>Position filter</th>
	        <th></th>
	        <th></th>
	      </tr>
	    </tfoot>
	  </table>
  <% else %>
  	<p style="margin-top:10px;">None created.</p>
  <% end %>
	<div class="btn-group">
		<%= link_to 'Return to listing', employers_path, :class => 'btn btn-info' %>
	</div>
  <div class="right">
    <a href="javascript: window.location.reload()", class ="btn">Clear filter(s)</a>
  </div>
	<%= display_note('date') if @openings.count > 0 %>
</fieldset>

<!-- optimized queries -->